@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #ff6b08;
  --secondary--color: #ff6b01;
  --white-color: #ffffff;
  --red-lining-color: #ff001b;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
  --main-color: #00ffff;

}
html {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100%;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.library-header {
  background: url('/src/images/header-image/Rectangle\ 1\ \(3\).jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  margin-bottom: 40px;
}
.nav-container {
  padding: 10px;
 
}
.nav-logo-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55%;
}
.logo-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.icon-film use {
  fill: var(--main-color);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);
}
.filmo {
  font-size: 42px;
  color: var(--main-color);
  text-shadow: 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.active::after {
  background-color: red;
  content: " ";
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 2px;
  position: relative;
  top: 1px;
}
.header-ul {
  display: flex;
  gap: 30px;
}
.list-item a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: var(--main-color);
}
/* watched & queue */
.btn-container {
  display: flex;
  align-items: center;
  gap: 35px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.watched-btn {
  border: 2px solid var(--white-color);
  color: var(--main-color);
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.watched-btn:hover {
  border: 2px solid var(--secondary--color)
}
.btn-queue {
  border: 2px solid var(--white-color);
  color: var(--main-color);
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  padding: 13px 30px;
  border-radius: 10px;
  cursor: pointer;
}
.btn-queue:hover {
  border: 2px solid var(--secondary--color)
}