img{
  display: block;
  width: 280px;
  height: 402px;
  padding: 0 20px;
  object-fit: cover;
}

.movie-section{
  padding-top: 20px;
  padding-bottom: 20px;
}

.movie-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  row-gap: 25px;
}

.movieCardDesc{
  padding: 0 20px;
}

.movie-title{
  font-size: 12px;;
  line-height: 14.06px;
}

.movie-preview{
  font-size: 12px;
  line-height: 16px;
  color: orange;
}