/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.modal-content {
    background-color: #fefefe;
    border-radius: 5px;
    margin: 5%;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

// movie box
.movie-box {
    display: flex;
}

// movie button
.btn-add {
    height: 44px;
    text-wrap: wrap;
    border-radius: 5px;
    border-style: solid;
    text-transform: uppercase;
}
.btn-add:hover {
    background-color: #FF6B01;
    border-color: #FF6B01;
}

// movie details
.movie-details h1, h4 {
    text-transform: uppercase;
}

// image
.div-img img {
    border-radius: 5px;
}

// list
.list {
    display: flex;
}

.list-title,
.list-disc {
    list-style: none;
    text-transform: capitalize;
}