/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.modal-content {
    display: block;
    background-color: #fefefe;
    border-radius: 5px;
    margin: 5%;
    /* 15% from the top and centered */
    padding: 40px 20px 20px 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
    /* Could be more or less, depending on screen size */
}

.modal-header {
    display: flex;
    position: absolute;
    top: 5px;
    right: 5px;
}
/* The Close Button */
.close {
    display: flex;
    border: none;
    border-radius: 5px;
    background-color: white;
}

.close:hover,
.close:focus {
    cursor: pointer;
}

//general
.movie-box,
.list {
    display: flex;
}
.movie-details {
    padding-left: 20px;
    text-wrap: wrap;
}

.movie-details h1,
h4,
.btn-add {
    text-transform: uppercase;
}

.movie-details h1,h4,p,
.list-title,
.list-disc {
    margin: 0;
    margin-bottom: 20px;
}
.list-title {
    padding: 0;
}
.icon-close {
    stroke: black;
}

// movie button
.btn-add {
    height: 44px;
    text-wrap: wrap;
    border-radius: 5px;
    border: solid 1px;
    margin: 0px 20px 0px 0px;
}
.btn-add:hover {
    background-color: var(--button-color);
    border-color: var(--button-color);
    color: var(--text-white);
    cursor: pointer;
}

// image
.div-img img {
    border-radius: 5px;
}

// list
.list-title,
.list-disc {
    list-style: none;
    text-transform: capitalize;
}

.list-disc li p span {
    background: var(--button-color);
    border: solid 0px var(--button-color);
    border-radius: 5px;
}

.list-title {
    color: var(--modal-text-color);
}