@import './common';
@import './header';
@import './main';
@import './modal';

* {
    box-sizing: border-box;
  }
  :root {
    --primary-color: black;
    --secondary-color: aqua;
    --luminance-color: rgba(250, 251, 248, 0);
  }
  body {
    background-color: var(--luminance-color);
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
  }
  