<footer class="footer">
   <div>
    <h1>Happy To see this</h1>
   </div>

  </footer>




  <!--
  <div class="footer-container">
     
    <div class="footer__first-element">
      <p class="footer__text">© 2022 | All Rights Reserved |</p>
    </div>

    <div class="footer__below-elements">

      <div class="footer__dev">
        <p class="footer__text">Developed with</p>
      </div>

      <div class="heart"></div>
       <div class="footer__icon">
        <svg class="footer__logo" width="14" height="13">
          <use href="/src/images/symbol-defs.svg#icon-heart"></use>
        </svg>
      </div> -->
      <!-- <div class="footer__by">
        <p class="footer__text">
          by  <a href="">GoIT Students</a>      
        </p>
      </div>
    
    </div>
  </div> -->

