<header class="library-header">
  <div class="nav-container container">

    <nav class="nav-logo-list">
      <div class="logo-holder">
        <svg class="icon icon-film" width="32" height="32">
          <use href="/src/images/icons.svg#icon-film"></use>
        </svg>
        <h1 class="filmo">Filmoteka</h1>
      </div>
      <ul class="header-ul">
        <li class="list-item "><a href="index.html">HOME</a></li>
        <li class="list-item active"><a href="library.html">LIBRARY</a></li>
      </ul>
    </nav>


    <div class="btn-container">
      <button 
      type="button" 
      class="watched-btn library--btn__watched library--btn--active">WATCHED</button>

      <button 
      type="button" 
      class="btn-queue library--btn__queue">QUEUE</button>
    </div>

  </div>
</header>